@import "./layout";
/*  基本变量  */
@MQMobile:480px;

body{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #2c3e50;
}

/*  通用样式  */
.meteor-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.meteor-txtGradient{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  background-image: -webkit-linear-gradient(left,#eee,#333 25%,#eee 50%,#333 75%,#eee);
  animation: txtGradient 4s infinite linear;
}
.meteor-outBound{
  position: relative;
  margin-left: 16px;
  &:after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    height: 15px;
    width: 15px;
    background-image: url("/img/refs/outbound.svg");
  }
}

/*  动画  */
@keyframes meteorScale {
  0%,50%,100%{
    transform: scale(1);
  }
  25%{
    transform: scale(.8);
  }
  75%{
    transform: scale(1.1);
  }
}
@keyframes txtGradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}