.meteor-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  动画  */
@keyframes meteorScale {
  0%,50%,100%{
    transform: scale(1);
  }
  25%{
    transform: scale(.8);
  }
  75%{
    transform: scale(1.1);
  }
}