@import "./var";
.el-scrollbar{
  height: 100%;
  width: 100%;
}
.el-scrollbar__wrap {
  overflow: scroll;
  /*width: 110%;*/
  height: 105% !important;
}
.el-scrollbar__thumb{
  background-color: @mainColor;
}
body{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #2c3e50;
}
blockquote{
  font-size: .9rem;
  color: #999;
  border-left: .5rem solid #dfe2e5;
  margin: .5rem 0;
  padding: .25rem 0 .25rem 1rem;
}
a, p a code {
  color: @mainColor;
}
h1{
  font-size: 2.2rem;
}
h2{
  font-size: 1.65rem;
  padding-bottom: .3rem;
  border-bottom: 1px solid @subTxt;
}
.meteor-outBound{
  position: relative;
  margin-left: 16px;
  &:after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    height: 15px;
    width: 15px;
    background-image: url("/img/refs/outbound.svg");
  }
}
.meteor-header-anchor{
  color: @mainColor;
  font-size: .85em;
  float: left;
  margin-left: -.87em;
  padding-right: .23em;
  margin-top: .125em;
  opacity: 0;
}
.meteor-blog-anchor{
  opacity: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  &:hover{
    .meteor-header-anchor,.meteor-blog-anchor{
      opacity: 1;
    }
  }
}