@meteorBg:"https://cdn.pixabay.com/photo/2017/09/12/11/56/universe-2742113_1280.jpg";
@zIndex:1000;


.meteor-footer-wrapper{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  padding: .6rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url(@meteorBg) , linear-gradient(to right, rgb(142, 158, 171), rgb(238, 242, 243));
  color: black;
  z-index: @zIndex+1;
  animation: bgMove 5s infinite;
  transition: .5s ease-in-out;
  .meteor-footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .meteor-footer-item{
      margin: .6rem;
    }
    .meteor-footer-project{
      .project-title{
        font-size: 2rem;
        font-family: fantasy;
        a{
          color: #fefefe;
          text-decoration: none;
          position: relative;
          display: inline-block;
          &::after{
            content: attr(data-title);
            position: absolute;
            top: 0;
            left: 0;
            color: transparent;
            -webkit-clip-path:ellipse(2rem 2rem at 0% 50% );
            clip-path: ellipse(2rem 2rem at 0% 50% );
            animation: footerSpotLight 5s infinite;
            background-image: url(@meteorBg), linear-gradient(to right, rgb(238, 242, 243),rgb(142, 158, 171));
            background-color: #1F6EB0;
            background-size: 150%;
            background-position: center center;
            -webkit-background-clip: text;
            background-clip: text;
          }
        }
      }
      .project-desc{
        font-size: 1.4rem;
        color: #eee;
        margin: .2rem 0;
      }
    }
    .meteor-author{
      .author-item{
        position: relative;
        height: 10rem;
        width: 10rem;
        margin: 0 .2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        overflow: hidden;
        &::after{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255,255,255,.5);
          content: '';
          transition: .6s;
          -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
          transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
        }
        &:hover::after{
          transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
        }
      }
      .author-self{
        background-image: url("/img/refs/logo.gif") , linear-gradient(to right, rgb(142, 158, 171), rgb(238, 242, 243));
        .self-linkRow{
          position: absolute;
          height: 50%;
          width: 100%;
          bottom: 0;
          left: 0;
          opacity: .8;
          background: #fff;
          .self-link{
            cursor: pointer;
            opacity: 1;
            width: 20%;
            margin: 0 .2rem;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
        &::before{
          content:'⭐';
          color: goldenrod;
          position: absolute;
          top: 0;
          right: 0;
          animation:meteorScale 1s ease-in-out infinite ;
        }
      }
      .author-donate{
        background-image: url("/img/refs/donate50.png") , linear-gradient(to right, rgb(142, 158, 171), rgb(238, 242, 243));
        &::before{
          content:'💗';
          color: crimson;
          position: absolute;
          top: 0;
          left: 0;
          animation:meteorScale 1s ease-in-out infinite ;
        }
      }
    }
  }
  .meteor-footer-copyRight{
    text-align: center;
    border-top: 1px solid #eaecef;
    color: #72a3d3;
    padding: 0.6rem;
  }
}
.meteor-footer-out{
  bottom: -50%;
  opacity: 0;
}
.meteor-footer-trigger{
  position: fixed;
  width: 2rem;
  height: 2rem;
  display: block;
  cursor: pointer;
  left: 2%;
  bottom:2%;
  opacity: .5;
  z-index: @zIndex+3;
  &:hover{
    opacity: 1;
  }
  .trigger-icon{
    &::before{
      top: 40%;
    }
    &::after{
      top: 60%;
    }
    &::before,
    &::after{
      content: '';
      position: absolute;
      width: 90%;
      height: 2px;
      background: #673AB7;
      left: 5%;
      display: block;
      border-radius: 13px;
      transition-property: background-color,transform;
      transition-duration: .25s;
    }
  }
  .meteor-footer-triggerOff{
    &:before{
      transform: translateY(140%) rotate(45deg);
    }
    &::after{
      transform: translateY(-160%) rotate(-45deg);
    }
  }
}
.meteor-footer-mask{
  position: fixed;
  z-index: @zIndex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
}
@keyframes bgMove {
  0%,100%{
    background-position-y: 0;
  }
  50%{
    background-position-y: 100%;
  }
}
@keyframes footerSpotLight {
  0%,100%{
    -webkit-clip-path:ellipse(2rem 2rem at 0% 50% );
    clip-path: ellipse(2rem 2rem at 0% 50% );
  }
  50%{
    -webkit-clip-path:ellipse(2rem 2rem at 100% 50% );
    clip-path: ellipse(2rem 2rem at 100% 50% );
  }
}